[submodule "STAR"]
	path = STAR
  url = git@github.com:alexdobin/STAR
 #url = https://github.com/alexdobin/STAR
	branch = 2.4.0h
[submodule "RSEM"]
	path = RSEM
	url = git@github.com:pliu55/RSEM
	branch = pRSEM
[submodule "bowtie"]
	path = bowtie
	url = git@github.com:BenLangMead/bowtie
