[submodule "STAR"]
	path = STAR
  url = git@github.com:alexdobin/STAR
	branch = 2.4.0h
  ignore = untracked
[submodule "bowtie"]
	path = bowtie
	url = git@github.com:BenLangMead/bowtie
  ignore = untracked
[submodule "RSEM"]
	path = RSEM
	url = git@github.com:deweylab/RSEM
